<section class="practice-summary" aria-label="Практика компании">
    <picture class="practice-summary__media">
        <source srcset="img/about/practice.avif" type="image/avif">
        <source srcset="img/about/practice.webp" type="image/webp">
        <img class="practice-summary__image"
            src="img/about/practice.png"
            width="346"
            height="384"
            loading="lazy"
            alt="Практика юридической компании «Авега»">
    </picture>

    <p class="practice-summary__lead">
        Мы представляем интересы доверителей в тех инстанциях и органах, где особенно важны
        <span class="practice-summary__highlight">точность, правовая выдержка, опыт и умение</span>
        отстаивать позицию последовательно и профессионально
    </p>

    <ul class="practice-summary__areas" aria-label="Направления практики">
        <li class="practice-summary__area">Арбитражный суд</li>
        <li class="practice-summary__area">Суды общей юрисдикции</li>
        <li class="practice-summary__area">Федеральная антимонопольная служба</li>
        <li class="practice-summary__area">Федеральное казначейство</li>
        <li class="practice-summary__area">Роспатент</li>
        <li class="practice-summary__area">Министерства и иные органы исполнительной власти</li>
    </ul>
</section>
