<section class="contact-office" id="office" aria-labelledby="contact-office-title">
    <h2 class="contact-office__title" id="contact-office-title">Связаться с нами</h2>
    <div class="contact-office__layout">
        <div class="contact-office__details">
            <a class="contact-office__phone" href="tel:+79128352345">+7&nbsp;(912)&nbsp;835&#8209;23&#8209;45</a>
            <a class="contact-office__email" href="mailto:avega45@rambler.ru">avega45@rambler.ru</a>
            <address class="contact-office__address">г. Курган, ул. Коли Мяготина, 124А, офис 313</address>
            <ul class="contact-office__socials" aria-label="Социальные сети">
                <li><a href="#" aria-label="Telegram"><img src="img/social-telegram.svg" width="24" height="24" alt=""></a></li>
                <li><a href="#" aria-label="ВКонтакте"><img src="img/social-vk.svg" width="24" height="24" alt=""></a></li>
                <li><a href="#" aria-label="Дзен"><img src="img/social-dzen.svg" width="24" height="24" alt=""></a></li>
            </ul>
        </div>
        <iframe class="contact-office__map" title="Офис компании «Авега» на карте" src="https://www.openstreetmap.org/export/embed.html?bbox=65.3328%2C55.4382%2C65.3528%2C55.4482&amp;layer=mapnik&amp;marker=55.4432%2C65.3428" loading="lazy"></iframe>
    </div>
</section>
