<header class="site-header" data-site-header>
    <div class="site-header__inner">
        <a class="site-header__logo" href="#hero" aria-label="Авега — на главную">
            <img class="site-header__logo-image"
                src="img/logo.svg"
                width="143"
                height="58"
                alt="">
        </a>

        <nav class="site-header__navigation"
            id="site-navigation"
            data-menu-panel
            aria-label="Основная навигация">
            <div class="site-header__menu-content">
                <ul class="site-header__menu">
                    <li class="site-header__menu-item">
                        <a class="site-header__menu-link" href="#services">Услуги</a>
                    </li>
                    <li class="site-header__menu-item">
                        <a class="site-header__menu-link" href="#about">О компании</a>
                    </li>
                    <li class="site-header__menu-item">
                        <a class="site-header__menu-link" href="#team">Команда</a>
                    </li>
                    <li class="site-header__menu-item">
                        <a class="site-header__menu-link" href="#cases">Кейсы</a>
                    </li>
                    <li class="site-header__menu-item">
                        <a class="site-header__menu-link" href="#contacts">Контакты</a>
                    </li>
                </ul>

                <div class="site-header__mobile-contacts" id="contacts">
                    <p class="site-header__contacts-label">Контакты</p>
                    <a class="site-header__contact-link" href="tel:+79128352345">
                        +7&nbsp;(912)&nbsp;835&#8209;23&#8209;45
                    </a>
                    <a class="site-header__contact-link"
                        href="mailto:avega45@rambler.ru">
                        avega45@rambler.ru
                    </a>
                    <div class="site-header__socials" aria-hidden="true">
                        <span class="site-header__social">
                            <img src="img/social-telegram.svg"
                                width="45"
                                height="45"
                                alt="">
                        </span>
                        <span class="site-header__social">
                            <img src="img/social-vk.svg"
                                width="45"
                                height="45"
                                alt="">
                        </span>
                        <span class="site-header__social">
                            <img src="img/social-dzen.svg"
                                width="45"
                                height="45"
                                alt="">
                        </span>
                    </div>
                </div>

                <a class="site-header__menu-action"
                    href="mailto:avega45@rambler.ru?subject=Консультация">
                    Получить консультацию
                </a>
            </div>
        </nav>

        <div class="site-header__desktop-contacts">
            <a class="site-header__phone" href="tel:+79128352345">
                +7&nbsp;(912)&nbsp;835&#8209;23&#8209;45
            </a>
            <div class="site-header__socials" aria-hidden="true">
                <span class="site-header__social">
                    <img src="img/social-telegram.svg"
                        width="45"
                        height="45"
                        alt="">
                </span>
                <span class="site-header__social">
                    <img src="img/social-vk.svg"
                        width="45"
                        height="45"
                        alt="">
                </span>
                <span class="site-header__social">
                    <img src="img/social-dzen.svg"
                        width="45"
                        height="45"
                        alt="">
                </span>
            </div>
        </div>

        <button class="site-header__toggle"
            type="button"
            data-menu-toggle
            aria-controls="site-navigation"
            aria-expanded="false">
            <span class="visually-hidden" data-menu-label>Открыть меню</span>
            <img class="site-header__toggle-icon"
                src="img/menu.svg"
                width="32"
                height="32"
                alt="">
        </button>
    </div>
</header>
