<section class="solution-callout" aria-labelledby="solution-callout-title">
    <div class="solution-callout__intro">
        <h2 class="solution-callout__title" id="solution-callout-title">
            Обсудим вашу задачу<br>и предложим рабочее решение
        </h2>
        <div class="solution-callout__contacts">
            <a href="tel:+79128352345">+7&nbsp;(912)&nbsp;835&#8209;23&#8209;45</a>
            <a href="https://t.me/avega45">Написать в Telegram</a>
        </div>
    </div>
    <div class="solution-callout__content">
        <ol class="solution-callout__steps">
            <li>Разберём ситуацию и уточним задачу</li>
            <li>Оценим риски, сроки и объём работы</li>
            <li>Предложим понятный план действий</li>
        </ol>
        <a class="solution-callout__button" href="#consultation">Получить консультацию</a>
    </div>
</section>
